
 li:nth-child(odd) {
    
    background-color: gray;
    display: block;
    width: 250px;
            margin-bottom: 3px;
            border: 1px solid black;
}

section li:nth-child(even) {
    background-color: white;
}

header li:nth-child(3):hover{
    background-color: green;
    cursor: pointer;
    display: block;
    width: 400px;
            margin-bottom: 3px;
            border: 1px solid black;
}

header li:nth-child(5):hover{
    background-color: green;
    cursor: pointer;
    display: block;
    width: 400px;
            margin-bottom: 3px;
            border: 1px solid black;
}

header li:nth-child(4){
    background-color: rgb(232, 24, 142);
    cursor: pointer;
    display: block;
    width: 400px;
            margin-bottom: 3px;
            border: 1px solid black;
}
body h1 {
    text-align: center;
font-size: 22px;
}
article a {
            font-style:italic;
         }
         body h2 {
            text-align: center;
         }

         
    body {
      width: 600px;
      font-size: 16px;
    }
    img {
      width: 20%;
    }
    @media (min-width: 1281px){ 
div{
    width: 90%;
}
section {
    display: flex;
  flex-direction: row;
}
    }